*{
font-family: 'Montserrat', sans-serif;
color: #ffffff;
}
body {
    background: linear-gradient(-45deg, #a5d0de, #5f9fd4, rgb(67, 137, 222), #7b95d7);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;

    
    }

    .heading{
        color: #f7f7ff;
        font-family: poppins;
        font-weight: 600;
        cursor: pointer;

    }

    .heading:hover{
        outline-color: #29de50;
    }
    .add-task{
        cursor: pointer;
        color: black;
    }

    .clear-task{
        color: black;
    }
 
    /* @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    } */
    